footer
  p Copyright &copy; 2024 #[a(href="https://tylers.world") Tyler Reckart]. All Rights Reserved.
  p Subscribe to the #[a(href="/rss.xml") RSS feed] or the alternate #[a(href="/feed.json") JSON feed] for future updates.
