header
  nav#nav
    a(href="/" class="logo")
      //- squarewave SVG
      svg(width="30", height="30", viewBox="0 0 30 30", fill="none")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M28 24H26.1147L24.3647 12H13.1529L11.1529 24H2V26H12.8471L14.8471 14H22.6353L24.3853 26H28V24Z", fill="#0094FF")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M4.84713 18H2V16H3.15287L5.15287 4H16.3647L16.9481 8H14.9269L14.6353 6H6.84713L4.84713 18Z", fill="#FF0000")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M8.84713 22H2V20H7.15287L9.15287 8H20.3647L20.9481 12H18.9269L18.6353 10H10.8471L8.84713 22Z", fill="#6DE534")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M28 2H2V4H5.15287L4.81954 6L2 6V8L4.48621 8L4.15287 10L2 10V12L3.81954 12L3.48621 14H2V16V18V20V22V24V26V28H28V26V24V22H25.8231L25.5314 20H28V18H25.2397L24.9481 16H28V14L24.6564 14L24.3647 12L28 12V10L20.6564 10L20.3647 8L28 8V6L16.6564 6L16.3647 4L28 4V2ZM0 0V4V6V8V10V12V14V30H30V22V20V18V16V14V12V10V8V6V4V0H0Z", fill="white")
